<nav class="header navbar-expand-lg navbar navbar-dark bg-primary">
    <h1 class="navbar-brand">Wc3 Translate</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Translate Map</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/script-commands">Map commands</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/script-list-file">Map Listfile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/commands">utf8tizer</a>
      </li>
    </ul>
  </div>
</nav>
